# llama.cpp base image options:
# CPU only: ghcr.io/ggml-org/llama.cpp:server
# CUDA (Nvidia GPU): ghcr.io/ggml-org/llama.cpp:server-cuda
# ROCm (AMD GPU): ghcr.io/ggml-org/llama.cpp:server-rocm
# Vulkan: ghcr.io/ggml-org/llama.cpp:server-vulkan
# SYCL (Intel GPU): ghcr.io/ggml-org/llama.cpp:server-intel
LLAMACPP_IMAGE=ghcr.io/ggml-org/llama.cpp:server
LLAMACPP_IMAGE_VERSION=latest

# Port for the web GUI and API
LLAMACPP_PORT=8080

# Local path for models, will be mounted to /models in the container
LLAMACPP_MODEL_DIR=./models

# Default model file to load, must reside in the directory specified by LLAMACPP_MODEL_DIR
LLAMACPP_MODEL=model.gguf
