IMAGE_VERSION=latest
POSTGRES_IMAGE_VERSION=15-alpine

# Database configurations
DB_USER=mmuser
DB_PASSWORD=mmuser_password
DB_NAME=mattermost

# App Configuration
PORT=8065
SITE_URL=https://chat.yourdomain.com
